page-login {
  .fade {
    background: inherit;
  }

  .fade::before {
    background-image: $loginBackground !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    filter: invert(12%) brightness(50%) !important;
  }

  .background {
    background-image: $loginBackground !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .box {
    width: 95% !important;
    max-width: 300px !important;
  }

  .border-box-light {
    // border: 1px color($colors, white) solid;
  }

  .blur {
    background: inherit !important;
    overflow: hidden !important;
    position: absolute !important;
    border-radius: 5px !important;
  }

  .blur::before {
    content: "" !important;
    background: $loginBackground !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
    background-attachment: local !important;
    position: absolute !important;
    left: -25px !important;
    right: -25px !important;
    top: -25px !important;
    bottom: -25px !important;
    box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.2) !important;
    filter: blur(8px) invert(12%) brightness(50%) !important;
  }

}
